section#display {
    margin-top: 0px;
}

table {
    margin: 0px 20px;
    text-align: center;
    border-spacing: 0px 15px;
}

td.to-do {
    text-decoration: none;
    background-color: lemonchiffon;
}

td.done {
    text-decoration: line-through;
    background-color: greenyellow;
}

td.note-content {
    padding: 10px 15px;
    margin: 15px 0px;
    width: 400px;
    word-break: break-all;
    user-select: none;
}