body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 180px;
    border: 2px solid grey;
}

div#history {
    background-color: lightgrey;
    text-align: center;
}