section#input textarea {
    width: 390px;
    min-height: 80px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    resize: vertical;
}

section#input button {
    display: inline-block;
    line-height: 1.5em;
    font-weight: bold;
    margin: 15px 8px;
    width: 120px;
    border: none;
    color: whitesmoke;
}

button#add-todo {
    background-color: darkgreen;
}

button#remove-done {
    background-color: chocolate;
}

button#remove-all-todo {
    background-color: darkred;
}